.frame {
    .first_table {
      .el-date-editor.el-input {
        width: 65%;
      }
    }
    .mute_btn {
      padding: 10px 3%;
      vertical-align: middle;
      text-align: center;
    }
    .special_layout{
      .el-select{
        width:65%;
      }
      &>span{
        display: inline-block;
        width:65%;
      }
    }
    .add_form {
      width: 100%;
      margin: 20px;
      .el-form-item {
        width: 100%;
        .el-form-item__content {
          width: 60% !important;
          .el-select {
            width: 100% !important;
          }
          .el-input-number {
            width: 100% !important;
          }
        }
      }
      .el-form--inline .el-form-item__content{
        width:50%;
      }
      .error_message {
        color: red;
        margin-bottom: 20px;
      }
    }
}
.common_dialog {
  .el-dialog {
    width: 650px;
    .email_content{
      width:100%;
      .el-form-item__content{
        width:calc(~"100% - 100px");
      }
      
    }
  }
  table thead .el-checkbox__input {
    display: none !important;
  }

}
   